body {
  background-color: lightblue;
  font-style: "Silkscreen", "Commodore 54 Pixelized", sans-serif;
  font-weight: 400;
}
.status-panel {
  text-align: center;
  padding-top: 20px;
  max-width: 400px;
  height: 50px;
  margin: 50px auto -150px auto;
}

.status-panel #text1 {
  color: black;
  font-size: 16px;
  font-weight: 900;
}

.status-panel #text2 {
  color: #525252;
  font-size: 13px;
}

.status-panel #text3 {
  color: #696969;
  font-size: 10px;
}

.board-box {
  background-color: #347deb;
  max-width: 400px;
  height: 600px;
  margin: auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  font-size: 18px;
  color: lightblue;
}

.info-round,
.info-result {
  box-sizing: border-box;
  background-color: lightblue;/*#eb8034;*/
  color: black;
  font-weight: 700;
  text-align: center;
  border: 1px solid white; /*#96540b;*/
  width: 50px;
  height: 50px;
  margin-top: 1em;
  border-radius: 5px;
}

.info-round {
  font-size: 20px;
  padding-top: 10px;
}

.info-result {
  width: 100px;
  height: 50px;
  margin-top: 1em;
  border-radius: 5px;
}

.info-text {
  text-align: center;
}

.game-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 3em;
}

.human-button,
.computer-button {
  width: 75px;
  height: 100px;
  border-radius: 5px;
}

.active {
  border: 2px solid red;
  background-color: lightpink;
}
